@charset "UTF-8";
header {
  background-color: rgb(90, 145, 197);
  position: sticky;
  top: 0;
  border-radius: 40px;
  z-index: 10;
  margin-top: 0.5rem;
}

header li {
  display: inline-block;
  text-transform: uppercase;
}

.logo {
  width: 250px;
}

#logoPrincipal {
  margin: 0px;
}

.navbar-ancho {
  width: 300px;
}

.menuNav {
  border-bottom: 1px rgba(30, 80, 173, 0.774) solid;
}

.nav-item:hover {
  font-weight: 500;
}

body {
  background-color: lightcyan;
}

.iconoWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
  cursor: pointer;
  z-index: 10;
}

.btnGeneral {
  background-color: rgba(30, 80, 173, 0.774);
  color: #fafafa;
  border: 1px solid black;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 25px;
}
.btnGeneral:hover {
  background-color: rgba(40, 95, 197, 0.774);
}
.btnGeneral:active {
  background-color: rgba(22, 63, 139, 0.774);
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: linear-gradient(rgb(130, 190, 130), rgb(60, 169, 60));
  border-top: 1px rgba(0, 0, 0, 0.312) solid;
  margin: 30px 0px 0px;
  padding-bottom: 10px;
}
footer li {
  text-align: center;
  list-style: none;
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.aSection {
  color: black;
  text-decoration: none;
}
.aSection:hover {
  text-decoration: underline;
}
.aSection:active {
  color: white;
}

.h2Section {
  color: rgba(30, 80, 173, 0.774);
}

a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 0 30px;
  cursor: pointer;
}

/************************************************ HTMLS ****************************************************/
/***********************************************  INICIO ***************************************************/
.fondoReservaInicio {
  background-image: url(../img/reserva.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  color: #fafafa;
}
.fondoReservaInicio::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.imgCarrousel {
  cursor: pointer;
}

.carrouselDermo {
  height: 200px;
}

.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.5s;
}
.card-img-top:hover {
  width: 300px;
  height: 300px;
}

.h2Oferta,
.h2Dermo {
  color: rgb(90, 145, 197);
}

/**********************************************  SERVICIOS  ***********************************************/
h1 {
  color: rgba(30, 80, 173, 0.774);
}

.fondoServicios {
  background-image: url(../img/fondoPrepaga.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.servicio {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  margin: auto;
  position: relative;
}

.gabinete:hover,
.Reserva:hover,
.envios:hover {
  width: 350px;
  height: 350px;
}

.gabinete {
  background-image: url(../img/gabinete2.jpg);
  transition: all 0.5s;
}

.Reserva {
  background-image: url(../img/reserva.avif);
  transition: all 0.5s;
}

.envios {
  background-image: url(../img/mapaDomicilios.jpg);
  transition: all 0.5s;
}

.gabinete::before,
.Reserva::before,
.envios::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

#mapaDomicilio {
  width: 150px;
  border: 1px black dotted;
  cursor: pointer;
}

.areaDomicilio {
  width: 100vh;
  border: rgb(90, 145, 197) 1px solid;
  border-radius: 5px;
}

/************************************************  PREPAGA  *************************************************/
.padrePrepaga {
  background-image: url(../img/fondoPrepaga.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.hijoPrepaga {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  transition: all 0.5s;
  background-image: url(../img/fondoServicios.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 50px;
}
.hijoPrepaga:hover {
  width: 300px;
  height: 300px;
}

.tituloNormas {
  color: rgb(90, 145, 197);
}

.logoPrepaga {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.recetas {
  object-fit: contain;
  width: auto;
  height: auto;
}

/************************************************  PAMI  *************************************************/
.hijoPami {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  transition: all 0.5s;
}
.hijoPami:hover {
  width: 300px;
  height: 300px;
}

.medicamentos {
  background-image: url(../img/medicamentos.jpg);
}

.vacunas {
  background-image: url(../img/vacunas.jpg);
}

.pañales {
  background-image: url(../img/pañales.jpg);
}

.oncologico {
  background-image: url(../img/oncologia.avif);
}

.medicamentos::before,
.vacunas::before,
.pañales::before,
.oncologico::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

h4 {
  color: rgb(90, 145, 197);
  font-size: 20px;
}

/*********************************************** CONTACTO **************************************************/
.fondoContacto {
  background-image: url(../img/localFachada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
}
.fondoContacto::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.79);
  width: 100%;
  height: 100%;
  position: absolute;
}

.divFormulario {
  align-items: center;
  text-align: start;
}

.divFormulario h1,
div {
  z-index: 1;
}

.h1Contacto {
  color: white;
  z-index: 1;
  font-size: 50px;
}

.h3Consulta {
  text-align: center;
}

form {
  margin: auto;
  margin-bottom: 10px;
  width: 400px;
}

.btnForm {
  background-color: rgba(30, 80, 173, 0.774);
  color: #fafafa;
  border: 1px solid black;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
  width: 200px;
}

/*************************** ERROR 404 *********************************/
.pagina_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.pagina_404 img {
  width: 100%;
}

.gifError {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.gifError h1 {
  font-size: 80px;
}

.boton_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  border-radius: 10px;
}

/******************Media Queries******************/
/******************First Mobile******************/
@media (min-width: 350px) and (max-width: 768px) {
  .espacioBusqueda, .mapaSection, .divNav, .contactoSection, .serviciosSection, .divSearch {
    display: none;
  }
  .imgCarrousel {
    max-height: 130px;
  }
  .areaDomicilio {
    width: 100%;
  }
  .fondoReserva {
    height: auto;
  }
  .h2Oferta, .h2Dermo {
    text-align: center;
  }
  .carrouselDermo {
    max-height: 165px;
  }
  .reserva {
    margin-bottom: 10px;
  }
  .tituloNormas {
    text-align: center;
  }
  .divFormulario {
    flex-flow: column wrap;
    text-align: start;
    align-items: center;
  }
  .divConsulta {
    padding: 0px;
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 20px;
  }
  header {
    display: flex;
    justify-content: center;
  }
  form {
    margin-bottom: 10px;
    width: 300px;
  }
  footer {
    grid-template-columns: 1fr;
    height: auto;
  }
  .gifError {
    background-size: 100%;
  }
}
/****************** Tablet ******************/
@media (min-width: 769px) and (max-width: 1024px) {
  .espacioBusqueda, .mapaSection, .divNav, .contactoSection {
    display: none;
  }
  .imgCarrousel {
    max-height: 230px;
  }
  .carrouselDermo {
    max-height: 180px;
  }
  .divFormulario {
    text-align: start;
    align-items: center;
    margin: 0px 50px;
  }
  .h3Consulta {
    text-align: center;
    font-size: 25px;
  }
  .divConsulta {
    padding: 0px;
    text-align: center;
    margin: 0px 20px 75px 20px;
  }
  form {
    margin-bottom: 10px;
    width: 300px;
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    align-items: center;
  }
}
/****************** Ordenador ****************/
@media (min-width: 1025px) {
  .imgCarrousel {
    max-height: 365px;
  }
}

/*# sourceMappingURL=estilo.css.map */
