/******************Media Queries******************/

/******************First Mobile******************/
@media (min-width: 350px) and (max-width: 768px) {
    .espacioBusqueda, .mapaSection, .divNav, .contactoSection, .serviciosSection, .divSearch {
      display: none;
    }
    
    .imgCarrousel{
      max-height: 135px;
    }

    .areaDomicilio {
      width: 100%;
    }
    
    .fondoReserva {
      height: auto;
    }
    
    .h2Oferta, .h2Dermo {
      text-align: center;
    }
    
    .carrouselDermo{
      max-height: 165px;
    }
    
    .reserva {
      margin-bottom: 10px;
    }

    .tituloNormas{
      text-align: center;
    }
  
    .divFormulario {
      flex-flow: column wrap;
      text-align: start;
      align-items: center;
    }
  
    .divConsulta {
      padding: 0px;
      text-align: center;
      margin: 0px 20px;
      margin-bottom: 20px;
    }


    header {
      display: flex;
      justify-content: center;
    }
  
    form {
      margin-bottom: 10px;
      width: 300px;
    }
  
    footer {
      grid-template-columns: 1fr;
      height: auto;
    }
  }

  /****************** Tablet ******************/
  @media (min-width: 769px) and (max-width: 1024px) {
    .espacioBusqueda, .mapaSection, .divNav, .contactoSection {
      display: none;
    }
    
    .imgCarrousel{
      max-height: 230px;
    }

    .carrouselDermo{
      max-height: 180px;
    }

    .divFormulario {
      text-align: start;
      align-items: center;
      margin: 0px 50px;
    }
  
    .h3Consulta {
      text-align: center;
      font-size: 25px;
    }
  
    .divConsulta {
      padding: 0px;
      text-align: center;
      margin: 0px 20px 75px 20px;
    }
  
    form {
      margin-bottom: 10px;
      width: 300px;
    }
  
    footer {
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      align-items: center;
    }
  }

  /****************** Ordenador ****************/
  @media (min-width: 1025px) {
    
    .imgCarrousel{
      max-height: 365px;
    }

 }
